@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    height: 5D0vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    padding: 10px;
    color: #fff;
    text-align: center;
}

nav ul {
    background-color: #333;
    padding: 14px 30px;
    display: flex;
    gap: 25px;
    border-radius: 10px;
    margin: 10px 0;
}

nav li {
    border-bottom: 1px solid rgba(177, 177, 177, 0);
}
nav li:hover {
    color: rgb(99, 185, 255);
    border-bottom: 1px solid steelblue;
}
